<section id="blog" class="section blog-section">
    <div class="section-header">
        <div class="icon-circle">
            <i class="fas fa-blog"></i>
        </div>
        <h2 class="section-title" data-en="Latest Articles" data-ar="أحدث المقالات">Latest Articles</h2>
        <p class="section-subtitle" data-en="Insights and Knowledge" data-ar="رؤى ومعرفة">Insights and Knowledge</p>
    </div>
    
    <div class="blog-container">
        {{ $posts := where .Site.RegularPages "Section" "blog" }}
        {{ range $posts.ByDate.Reverse }}
        <article class="blog-card">
            {{ if .Params.thumbnail }}
            <div class="blog-image">
                <img 
                    src="{{ print "images/" .Params.thumbnail | relURL }}" 
                    alt="{{ .Title }}"
                    loading="lazy"
                >
            </div>
            {{ end }}
            
            <div class="blog-content">
                <div class="blog-meta">
                    <span class="blog-date">
                        <i class="far fa-calendar"></i>
                        {{ .Date.Format "January 2, 2006" }}
                    </span>
                </div>
                
                <h3 class="blog-title">
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </h3>
                
                <p class="blog-excerpt">
                    {{ if .Params.excerpt }}
                        {{ .Params.excerpt }}
                    {{ else }}
                        {{ .Summary }}
                    {{ end }}
                </p>
                
                <a href="{{ .Permalink }}" class="blog-read-more" data-en="Read More" data-ar="اقرأ المزيد">
                    Read More
                    <i class="fas fa-arrow-right"></i>
                </a>
            </div>
        </article>
        {{ end }}
    </div>
</section>
